/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix for CLS in qwik */
[data-qwik-cls] {
  outline: none ! important;
}
[data-qwik-cls]::after {
  content: none ! important;
}

@layer utilities {
  .bg-dotted-grid {
    position: relative;
    background-color: transparent; /* Base background color */
    background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        radial-gradient(circle, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 20px 20px; /* Smaller initial grid size */
    background-position: 0 0;
  }
}
